{{#task}}
<form class="" action="/task/{{id}}" method="post">
  <input type="text" name="edit" value="" placeholder="{{task}}">
  <input type="submit" name="submit" for="edit" value="edit:">
</form>
{{/task}}
